.nav{
    display :flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    display: flex;
    justify-content: center;
}
.login{
    display: flex;
    justify-content: center;
}
button{
    width: 60px;
    height: 30px;
}